[class*="su-column"] + [class*="su-column"]:last-child.alignleft,
.su-column.alignleft,
.alignleft {
	float: left;
	padding-right: 30px;
	margin-left: 0;
	@include mq(small) {
		padding-right: 0;
	}
}

.su-column.alignright,
.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.figure img {
	@include mq(990px) {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}