.historia-wrapper p {  //sets margin of spans to 0 (wp wraps them in p tags)
	margin: 0 auto;
}
.historia p {
	margin: 10px auto;
}
.vertical-line {
    background-color: lightgray;
    height: 60px;
    margin: 0 auto;
    width: 1px;
	display: block;
}

.hl-featured hr {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 2px;
    color: lightgrey;
    margin: 0 auto;
	width: 70%;	
	background-color: #fff;
}

.hl-featured p {
    line-height: 1.5em;
    margin: 15px 0;
}
.hl-featured h4 {
	margin-top: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: rgb(245,245,245);
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 0.5em 0;
	padding-left: 0;
}

ul {
	@if $primary-color == $primary-color-winter {
	list-style:  outside url("ikony/bullet-winter.svg") disc;
	} @else {
		list-style:  outside url("ikony/bullet.svg") disc;
	}
	.trails & {
	list-style: none;
	li {
		margin-bottom: 1.4em;
		@include mq(small) {
			margin-bottom: 1.4em;
			padding-bottom: 1.4em;
			border-bottom: 1px solid lightgrey;
		}
	}
	}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 2.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
.meta-wrapper {
	width: 100%;
}
.partner-logo {
	margin-right: 50px;
	vertical-align: middle;
	max-height: 50px;
}

.figure img {
	margin: 1.2em 0;
}
.figure img:first-child {
	margin-top: 0;
}

.figure .icon {
    border: 1px solid $primary-color;
    border-radius: 50px;
    float: left;
    margin: 0 10px 10px auto;
    padding: 2px;
    vertical-align: middle;
	@include mq(small) {
		display: block;
		margin: 0 auto 8px;
		float: none;
	}
}
.paragraph-with-icons p {
	padding-left: 50px;
	margin-top: 0;
	@include mq(small) {
		margin-top: 10px;
		padding-left: 0;
	}
}

.learn-more-button {
	display: inline-block; //for auto-calculating width and top-margin
	margin-top: 1em;
	text-align: center;
	border-radius: 10px;
	padding: 2px 12px;
	font-size: 0.9em;
	background: #fff;
	border: 1px solid $primary-color;
	color:$primary-color;
	letter-spacing:1px;
	text-shadow:0;
	cursor: pointer;
	transition: all 0.25s ease;
	&:hover {
		color:white;
		background: $primary-color;
	}
}
