body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	line-height: 1.5;
    font-family: $openSans;
	@include mq(560px) {
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h2 {
	font-size: $medium;
}

h3 {
	font-size: $medium;
}

h4 {
	font-size: $medium;
}

h2, h4 {
	color: $primary-color;
	font-weight: 400;
	margin-bottom: 1.2em;
}

p {
	margin-bottom: 1.5em;
	line-height: 1.65em;
	font-size: $base;
}

.widget-area h1,
.widget-area h1 h2,
.widget-area h1 h3,
.widget-area h1 h4,
.widget-area h1 h5,
.widget-area h1 p,
.widget-area li a {
	color: rgb(90,90,90);
}
.widget-area {
	aside {
		@include mq(small) {
			padding: 0 0 1.2em 0;
		}
	input {
		@include mq(small) {
			width: 100%;
			height: 3em;
		}
	}
	}
	h2 {
		font-size: $base;
		margin-bottom: 0.2em;
		@include mq(small) {
		font-size: $big;
			margin-bottom: 0.5em;
	}
	}
	p, li, a {
		font-size: $small;
		@include mq(small) {
			font-size: $base;
			margin-bottom: 0.5em;
	}
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-size: $base;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-size: $base;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.entry-title {
	font-size: $huge;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
    margin:auto;
    line-height:51px;
	display:inline-block;
	padding: 15px 30px;
	border: solid 1px rgba(255,255,255, 0.5);
	border-width: 0 0 1px 0;
}
.blog-title {
	font-size: $huge;
}
.blog-entry-title {
	font-size: $big;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	border-top: 1px solid lightgray;
	&:first-child {
		border: none;
		padding-top: 0;
		margin-top: 0;
	}
}

.read-more {
	font-size: $big;
	font-weight: 300;
 	color: rgba(255, 255, 255, 0.9);
}

.page-title {
	width:100%;
	position:absolute;
	bottom: 15%;
    text-align:center;
	margin: auto;
	z-index: 999;
  }
.comments-title {
	padding-top: 2em;
	border-top: 1px dashed lightgray;
	font-size: modular-scale(1, 0.9em);
	color: #454545;
}
