/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$primary-color: rgb(0, 140, 70);


/*--------------------------------------------------------------
# Font Stacks
--------------------------------------------------------------*/

$openSans: "Open Sans", "Tahoma", "Arial", sans-serif;

/*--------------------------------------------------------------
# Font Sizes
--------------------------------------------------------------*/

$modular-scale-ratio: $perfect-fourth;

$tiny    : modular-scale(-1);
$small    : modular-scale(-1, 1.3em);
$base     : modular-scale(0);
$medium   : modular-scale(1);
$big      : modular-scale(2, 0.9em);
$huge     : modular-scale(3);

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

$brkpoint-sm     : 1px;
$brkpoint-md     : 760px;
$brkpoint-lg     : 1100px;